.documenation-container {
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.documenation-container h1 {
  margin: 20px;
}

.list {
  margin: 50px;
  width: 70%;
}

ul li{
  list-style: none;
}

.list-item {
  padding: 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .documenation-container {
    width: 80%;
  }
}